# APIkeys_collection generated template
# Fill only keys you own. Do not commit real secrets.

# Alpha Vantage (alphavantage)
# Docs: https://www.alphavantage.co/documentation/
# Signup: https://www.alphavantage.co/support/#api-key
ALPHAVANTAGE_API_KEY=your_alphavantage_api_key

# Copernicus Climate Data Store API (copernicus_cds)
# Docs: https://cds.climate.copernicus.eu/how-to-api
# Signup: https://cds.climate.copernicus.eu/
CDSAPI_KEY=your_cdsapi_key

# Copernicus Data Space Ecosystem (copernicus_dataspace)
# Docs: https://documentation.dataspace.copernicus.eu/APIs.html
# Signup: https://dataspace.copernicus.eu/
COPERNICUS_DATASPACE_TOKEN=your_copernicus_dataspace_token

# Copernicus Marine Service (copernicus_marine)
# Docs: https://help.marine.copernicus.eu/en/articles/4794731-which-apis-are-provided
# Signup: https://data.marine.copernicus.eu/register
COPERNICUS_MARINE_PASSWORD=your_copernicus_marine_password

# Copernicus Marine Service (copernicus_marine)
# Docs: https://help.marine.copernicus.eu/en/articles/4794731-which-apis-are-provided
# Signup: https://data.marine.copernicus.eu/register
COPERNICUS_MARINE_USERNAME=your_copernicus_marine_username

# EIA Open Data API (eia_open_data)
# Docs: https://www.eia.gov/opendata/documentation.php
# Signup: https://www.eia.gov/opendata/register.php
EIA_API_KEY=your_eia_api_key

# FRED API (fred)
# Docs: https://fred.stlouisfed.org/docs/api/fred/
# Signup: https://fred.stlouisfed.org/docs/api/api_key.html
FRED_API_KEY=your_fred_api_key

# GeoNames Web Services (geonames)
# Docs: https://www.geonames.org/export/ws-overview.html
# Signup: https://www.geonames.org/login
GEONAMES_USERNAME=your_geonames_username

# Google Earth Engine Data Catalog (google_earth_engine)
# Docs: https://developers.google.com/earth-engine/datasets/catalog/
# Signup: https://code.earthengine.google.com/register
GOOGLE_EARTH_ENGINE_TOKEN=your_google_earth_engine_token

# NASA Open APIs (nasa_open_apis)
# Docs: https://api.nasa.gov/
# Signup: https://api.nasa.gov/
NASA_API_KEY=your_nasa_api_key

# NASA Earthdata (nasa_earthdata)
# Docs: https://www.earthdata.nasa.gov/learn/use-data/data-use-policy/api
# Signup: https://urs.earthdata.nasa.gov/
NASA_EARTHDATA_PASSWORD=your_nasa_earthdata_password

# NASA Earthdata (nasa_earthdata)
# Docs: https://www.earthdata.nasa.gov/learn/use-data/data-use-policy/api
# Signup: https://urs.earthdata.nasa.gov/
NASA_EARTHDATA_TOKEN=your_nasa_earthdata_token

# NASA Earthdata (nasa_earthdata)
# Docs: https://www.earthdata.nasa.gov/learn/use-data/data-use-policy/api
# Signup: https://urs.earthdata.nasa.gov/
NASA_EARTHDATA_USERNAME=your_nasa_earthdata_username

# NOAA NCEI Climate Data Online (noaa_ncei_cdo)
# Docs: https://www.ncei.noaa.gov/cdo-web/webservices/v2
# Signup: https://www.ncei.noaa.gov/cdo-web/token
NOAA_NCEI_CDO_TOKEN=paste_your_own_noaa_ncei_cdo_token_here

# OpenAQ API (openaq)
# Docs: https://docs.openaq.org/
# Signup: https://explore.openaq.org/
OPENAQ_API_KEY=your_openaq_api_key

# OpenSky Network API (opensky_network)
# Docs: https://openskynetwork.github.io/opensky-api/rest.html
# Signup: https://opensky-network.org/index.php?option=com_users&view=registration
OPENSKY_PASSWORD=your_opensky_password

# OpenSky Network API (opensky_network)
# Docs: https://openskynetwork.github.io/opensky-api/rest.html
# Signup: https://opensky-network.org/index.php?option=com_users&view=registration
OPENSKY_USERNAME=your_opensky_username

# OpenWeather (openweathermap)
# Docs: https://openweathermap.org/api
# Signup: https://home.openweathermap.org/users/sign_up
OPENWEATHER_API_KEY=your_openweather_api_key

# USGS EROS Machine-to-Machine API (usgs_m2m)
# Docs: https://m2m.cr.usgs.gov/
# Signup: https://ers.cr.usgs.gov/register/
USGS_M2M_API_KEY=your_usgs_m2m_api_key
