APIkeys_collection generated template
Fill only keys you own. Do not paste leaked or third-party secrets.

[KEYS]
ALPHAVANTAGE_API_KEY = your_alphavantage_api_key
  provider: Alpha Vantage (alphavantage)
  auth: api_key_required
  docs: https://www.alphavantage.co/documentation/
  signup: https://www.alphavantage.co/support/#api-key

CDSAPI_KEY = your_cdsapi_key
  provider: Copernicus Climate Data Store API (copernicus_cds)
  auth: account_key_required
  docs: https://cds.climate.copernicus.eu/how-to-api
  signup: https://cds.climate.copernicus.eu/

CENSUS_API_KEY = your_census_api_key
  provider: U.S. Census TIGERweb GeoServices (us_census_tigerweb)
  auth: api_key_may_be_required
  docs: https://www.census.gov/data/developers/guidance/api-user-guide.html
  signup: https://api.census.gov/data/key_signup.html

COPERNICUS_DATASPACE_TOKEN = your_copernicus_dataspace_token
  provider: Copernicus Data Space Ecosystem (copernicus_dataspace)
  auth: oauth2_or_account
  docs: https://documentation.dataspace.copernicus.eu/APIs.html
  signup: https://dataspace.copernicus.eu/

COPERNICUS_MARINE_PASSWORD = your_copernicus_marine_password
  provider: Copernicus Marine Service (copernicus_marine)
  auth: account_required
  docs: https://help.marine.copernicus.eu/en/articles/4794731-which-apis-are-provided
  signup: https://data.marine.copernicus.eu/register

COPERNICUS_MARINE_USERNAME = your_copernicus_marine_username
  provider: Copernicus Marine Service (copernicus_marine)
  auth: account_required
  docs: https://help.marine.copernicus.eu/en/articles/4794731-which-apis-are-provided
  signup: https://data.marine.copernicus.eu/register

DATA_GOV_API_KEY = your_data_gov_api_key
  provider: Data.gov CKAN Catalog (data_gov)
  auth: api_key_optional_or_demo_key_for_metadata
  docs: https://open.gsa.gov/api/datadotgov/
  signup: https://api.data.gov/signup/

EIA_API_KEY = your_eia_api_key
  provider: EIA Open Data API (eia_open_data)
  auth: api_key_required
  docs: https://www.eia.gov/opendata/documentation.php
  signup: https://www.eia.gov/opendata/register.php

FRED_API_KEY = your_fred_api_key
  provider: FRED API (fred)
  auth: api_key_required
  docs: https://fred.stlouisfed.org/docs/api/fred/
  signup: https://fred.stlouisfed.org/docs/api/api_key.html

GBIF_USERNAME = your_gbif_username
  provider: GBIF API (gbif)
  auth: no_key_for_public_metadata_account_for_downloads
  docs: https://techdocs.gbif.org/en/openapi/
  signup: https://www.gbif.org/user/profile

GEONAMES_USERNAME = your_geonames_username
  provider: GeoNames Web Services (geonames)
  auth: username_required
  docs: https://www.geonames.org/export/ws-overview.html
  signup: https://www.geonames.org/login

GOOGLE_EARTH_ENGINE_TOKEN = your_google_earth_engine_token
  provider: Google Earth Engine Data Catalog (google_earth_engine)
  auth: google_cloud_project_oauth_required
  docs: https://developers.google.com/earth-engine/datasets/catalog/
  signup: https://code.earthengine.google.com/register

NASA_API_KEY = your_nasa_api_key
  provider: NASA Open APIs (nasa_open_apis)
  auth: api_key_required
  docs: https://api.nasa.gov/
  signup: https://api.nasa.gov/

NASA_EARTHDATA_PASSWORD = your_nasa_earthdata_password
  provider: NASA Earthdata (nasa_earthdata)
  auth: account_token_or_login
  docs: https://www.earthdata.nasa.gov/learn/use-data/data-use-policy/api
  signup: https://urs.earthdata.nasa.gov/

NASA_EARTHDATA_TOKEN = your_nasa_earthdata_token
  provider: NASA Earthdata (nasa_earthdata)
  auth: account_token_or_login
  docs: https://www.earthdata.nasa.gov/learn/use-data/data-use-policy/api
  signup: https://urs.earthdata.nasa.gov/

NASA_EARTHDATA_USERNAME = your_nasa_earthdata_username
  provider: NASA Earthdata (nasa_earthdata)
  auth: account_token_or_login
  docs: https://www.earthdata.nasa.gov/learn/use-data/data-use-policy/api
  signup: https://urs.earthdata.nasa.gov/

NOAA_NCEI_CDO_TOKEN = paste_your_own_noaa_ncei_cdo_token_here
  provider: NOAA NCEI Climate Data Online (noaa_ncei_cdo)
  auth: api_token_required
  docs: https://www.ncei.noaa.gov/cdo-web/webservices/v2
  signup: https://www.ncei.noaa.gov/cdo-web/token

OPENAQ_API_KEY = your_openaq_api_key
  provider: OpenAQ API (openaq)
  auth: api_key_may_be_required
  docs: https://docs.openaq.org/
  signup: https://explore.openaq.org/

OPENSKY_PASSWORD = your_opensky_password
  provider: OpenSky Network API (opensky_network)
  auth: account_optional_or_required_for_limits
  docs: https://openskynetwork.github.io/opensky-api/rest.html
  signup: https://opensky-network.org/index.php?option=com_users&view=registration

OPENSKY_USERNAME = your_opensky_username
  provider: OpenSky Network API (opensky_network)
  auth: account_optional_or_required_for_limits
  docs: https://openskynetwork.github.io/opensky-api/rest.html
  signup: https://opensky-network.org/index.php?option=com_users&view=registration

OPENWEATHER_API_KEY = your_openweather_api_key
  provider: OpenWeather (openweathermap)
  auth: api_key_required
  docs: https://openweathermap.org/api
  signup: https://home.openweathermap.org/users/sign_up

USGS_M2M_API_KEY = your_usgs_m2m_api_key
  provider: USGS EROS Machine-to-Machine API (usgs_m2m)
  auth: account_token_required
  docs: https://m2m.cr.usgs.gov/
  signup: https://ers.cr.usgs.gov/register/

[NO_KEY_OR_PUBLIC_METADATA]
australia_data_gov_ckan | no_key_for_public_metadata | https://data.gov.au/data/api/3
binance_public | no_key_for_public_market_data | https://developers.binance.com/docs/binance-spot-api-docs/rest-api
canada_open_data | no_key_for_public_metadata | https://open.canada.ca/data/en/developers
chicago_data_portal_socrata | no_key_for_public_metadata | https://dev.socrata.com/docs/
datacite | no_key_for_public_metadata | https://support.datacite.org/docs/api
earth_search_stac | no_key_for_public_metadata | https://earth-search.aws.element84.com/v1
ecmwf_open_data | no_key_for_open_data | https://www.ecmwf.int/en/forecasts/datasets/open-data
emodnet_erddap | no_key_for_public_metadata | https://emodnet.ec.europa.eu/
gadm_boundaries | license_restricted_noncommercial | https://gadm.org/download_world.html
gebco | no_key_for_download_pages | https://www.gebco.net/data_and_products/gridded_bathymetry_data/
harvard_dataverse | no_key_for_public_metadata | https://guides.dataverse.org/en/latest/api/search.html
hdx_ckan | no_key_for_public_metadata | https://data.humdata.org/api
hyg_database | no_key_for_public_data | https://codeberg.org/astronexus/hyg
imf_data | no_key_or_mixed | https://data.imf.org/en/Resource-Pages/IMF-API
ioos_erddap | no_key_for_public_data | https://erddap.ioos.us/erddap/rest.html
marine_regions | no_key_or_account_for_bulk | https://www.marineregions.org/downloads.php
microsoft_planetary_computer | no_key_for_public_metadata | https://learn.microsoft.com/en-us/rest/api/planetarycomputer/
natural_earth | no_key | https://www.naturalearthdata.com/downloads/
noaa_coastwatch_erddap | no_key_for_public_data | https://coastwatch.pfeg.noaa.gov/erddap/rest.html
noaa_coops | no_key | https://api.tidesandcurrents.noaa.gov/api/prod/
noaa_goes_aws | no_key_for_public_s3 | https://registry.opendata.aws/noaa-goes/
noaa_marinecadastre_ais | no_key_for_public_data | https://www.coast.noaa.gov/digitalcoast/data/vesseltraffic.html
noaa_ncei_access_data | no_key | https://www.ncei.noaa.gov/support/access-data-service-api-user-documentation
noaa_nomads | no_key_for_public_data | https://nomads.ncep.noaa.gov/info.php?page=gribfilter
noaa_pmel_erddap | no_key_for_public_data | https://data.pmel.noaa.gov/pmel/erddap/rest.html
nyc_open_data_socrata | no_key_for_public_metadata | https://dev.socrata.com/docs/
oecd_sdmx | no_key | https://data-explorer.oecd.org/
open_meteo | no_key_for_public_tier | https://open-meteo.com/en/docs
osm_overpass | no_key_but_rate_limited | https://dev.overpass-api.de/overpass-doc/en/
sf_open_data_socrata | no_key_for_public_metadata | https://dev.socrata.com/docs/
uk_data_gov_ckan | no_key_for_public_metadata | https://docs.ckan.org/en/latest/api/
usgs_earthquake | no_key | https://earthquake.usgs.gov/fdsnws/event/1/
world_bank_indicators | no_key | https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation
zenodo | no_key_for_public_metadata | https://developers.zenodo.org/
